apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "poktroll.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ include "poktroll.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "poktroll.fullname" . }}
        pokt.network/purpose: validator
    spec:
      initContainers:
      # TODO(@okdas): move the ConfigMaps script logic onto the init container
{{ if .Values.persistence.cleanupBeforeEachStart }}
      - name: "cleanup-datadir"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
        command: ["/bin/sh"]
        args:
         - -c
         - rm -rf /root/.poktroll/data/*
        volumeMounts:
          - name: data-volume
            mountPath: /root/.poktroll/data/
{{ end }}
      - name: "prepare-node"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
        command: ["/bin/sh"]
{{ if .Values.prod.enabled }}
        args: ["/scripts/prod.sh"]
{{ else }}
        args: ["/scripts/dev.sh"]
{{ end }}
        volumeMounts:
          - name: scripts-volume
            mountPath: /scripts
          - name: keys-source-volume
            mountPath: /root/.poktroll/keyring-test/
          - name: configs-source-volume
            mountPath: /root/.poktroll/config-src/
          - name: data-volume
            mountPath: /root/.poktroll/data/
          - name: pocket-volume
            mountPath: /root/.poktroll/
      containers:
        - name: poktrolld-validator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
{{ toYaml .Values.podSecurityContext | indent 12 }}
          ports:
            - containerPort: 1317
              name: api
            - containerPort: {{ .Values.service.rpcPort }}
              name: rpc
            - containerPort: 40004 # TODO(@okdas): remove this - currently only needed for LocalNet dlv
              name: debug
            - containerPort: {{ .Values.service.grpcPort }}
              name: grpc
{{ if .Values.development.delve.enabled }}
          command: [ "/go/bin/dlv" ]
          args:
            - exec
            - --listen={{ .Values.development.delve.laddr }}
            - --headless=true
            - --api-version=2
            - --accept-multiclient
            - /usr/local/bin/poktrolld
            - --
{{ else }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.rpcPort }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.rpcPort }}
          args:
{{ end }}
            - start
            # - --rpc.laddr=tcp://0.0.0.0:36657 # 26657 is the default
            # - --p2p.laddr=0.0.0.0:36656 # 26656 is the default
            # - --grpc.address=0.0.0.0:9090
            - --log_no_color
            - --log_level={{ .Values.logs.level }}
            - --log_format={{ .Values.logs.format }}
          volumeMounts:
            - name: scripts-volume
              mountPath: /scripts
            - name: keys-source-volume
              mountPath: /root/.poktroll/keyring-test/
            - name: configs-source-volume
              mountPath: /root/.poktroll/config-src/
            - name: data-volume
              mountPath: /root/.poktroll/data/
            - name: pocket-volume
              mountPath: /root/.poktroll/
      volumes:
        - name: scripts-volume
          configMap:
            name: {{ include "poktroll.fullname" . }}-scripts
        - name: keys-source-volume
          configMap:
            name: {{ .Values.keysConfigMapName }}
        - name: configs-source-volume
          configMap:
            name: {{ .Values.configsConfigMapName }}
        - name: data-volume
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (printf "%s-data" (include "poktroll.fullname" .)) }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: pocket-volume
          emptyDir: {}

