# Default values for relayminer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

chownDataDirTo: "" # forces `chown` of the data directory to the following UID/GUID

logs:
  level: info

image:
  repository: ghcr.io/pokt-network/poktrolld
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

keysSecretName: ""

# --grpc-insecure
grpcInsecure: false

chainId: "poktroll"

gasAdjustment: 1.5
gasPrices: 0.0001upokt

config:
  signing_key_name: supplier1 # Keeping it here for now for backwards-compatibility
  default_signing_key_names: [supplier1]
  smt_store_path: smt_stores
  pocket_node:
    query_node_rpc_url: tcp://poktroll-validator:26657
    query_node_grpc_url: tcp://poktroll-validator:9090
    tx_node_rpc_url: tcp://poktroll-validator:26657
  suppliers:
    - service_id: anvil
      type: http
      service_config:
        backend_url: http://anvil:8547/
        publicly_exposed_endpoints:
          - relayminers
      listen_url: http://0.0.0.0:8545
    - service_id: anvilws
      type: http
      service_config:
        backend_url: ws://anvil:8547/
        publicly_exposed_endpoints:
          - relayminers
      listen_url: ws://0.0.0.0:8545
  metrics:
    enabled: true
    # If changing port here, make sure to adjust `metrics.serviceMonitor.port`
    addr: :9090
  pprof:
    enabled: true
    addr: localhost:6060

development:
  delve:
    enabled: false
    laddr: :40004

keyringBackend: test

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

metrics:
  serviceMonitor:
    enabled: false
  port: 9090

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

homeDirectory: /root/.pocket

service:
  type: ClusterIP
  port: 8545

ingress:
  enabled: false
  className: ""
  annotations: {}
  # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
