replicaCount: 1 # This should never be more than 1 until Rollkit supports decentralized sequencers

configsConfigMapName: poktrolld-configs # TODO(@okdas): provision in the chart
keysConfigMapName: poktrolld-keys # TODO(@okdas): provision in the chart

image:
  repository: ghcr.io/pokt-network/poktrolld
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  rpcPort: 36657
  grpcPort: 36658
pvc:
  accessModes:
    - ReadWriteOnce
  requests:
    storage: 1Gi
dataAvailability:
  provider: celestia
  authToken:
    secretName: celestia-secret
    secretKey: auth_token
  celestia:
    consensus_rpc_url: http://celestia-rollkit:26657
    da_rpc_url: http://celestia-rollkit:26658
  timeout: 60000000000
  fee: 600000
  gas_limit: 6000000
prod:
  enabled: false
  namespace: ''
storage:
  className: ''
  size: 1Gi
scripts:
  enabled: true
podSecurityContext: {}
  # allowPrivilegeEscalation: true
  # capabilities:
  #   add: ["SYS_PTRACE"]
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 8
  #   memory: 16Gi
  # requests:
  #   cpu: 4
  #   memory: 12Gi