apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "relayminer.fullname" . }}
  labels:
    {{- include "relayminer.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{ toYaml .Values.config | nindent 4 }}
  client.toml: |
    broadcast-mode = "sync"
    app-name = "{{ .Values.appName }}"
    chain-id = "{{ .Values.chainId }}"
    keyring-backend = "test"
    node = "{{ .Values.config.pocket_node.tx_node_rpc_url }}"
    output = "text"
