apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "relayminer.fullname" . }}
  labels:
    {{- include "relayminer.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "relayminer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "relayminer.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- /* Only add an extra init container if chownDataDirTo is provided */ -}}
      {{- if .Values.chownDataDirTo }}
      initContainers:
        - name: init-permissions
          image: busybox
          securityContext:
            runAsUser: 0  # Run as root to create directories
            runAsGroup: 0
          command:
            - sh
            - -c
            - |
              mkdir -p {{ .Values.homeDirectory }}/config && \
              chown -R {{ .Values.chownDataDirTo }}:{{ .Values.chownDataDirTo }} {{ .Values.homeDirectory }} && \
              chmod -R 755 {{ .Values.homeDirectory }}
          volumeMounts:
            - name: pocket-home
              mountPath: {{ .Values.homeDirectory }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "relayminer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
{{ if .Values.development.delve.enabled }}
          command: [ "/go/bin/dlv" ]
          args:
            - exec
            - --listen={{ .Values.development.delve.laddr }}
            - --headless=true
            - --api-version=2
            - --accept-multiclient
            - /usr/local/bin/poktrolld
            - --
{{ else }}
          # TODO(@okdas): enable health checks
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          args:
{{ end }}
            - "relayminer"
            - "--keyring-backend={{ .Values.keyringBackend }}"
            - "--config={{ .Values.homeDirectory }}/config/config.yaml"
            - "--grpc-insecure={{ .Values.grpcInsecure }}"
            - "--log_level={{ .Values.logs.level }}"
            - "--chain-id={{ .Values.chainId }}"
            - "--gas-adjustment={{ .Values.gasAdjustment }}"
            - "--gas-prices={{ .Values.gasPrices }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: keys-volume
              mountPath: {{ .Values.homeDirectory }}/keyring-test/{{ .Values.config.signing_key_name }}.info
              subPath: {{ .Values.config.signing_key_name }}.info
            # - name: configs-volume
            #   mountPath: {{ .Values.homeDirectory }}/config/
            - name: relayminer-config
              mountPath: "{{ .Values.homeDirectory }}/config/config.yaml"
              subPath: "config.yaml"
            - name: relayminer-config
              mountPath: "{{ .Values.homeDirectory }}/config/client.toml"
              subPath: "client.toml"
            - name: pocket-home
              mountPath: {{ .Values.homeDirectory }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: keys-volume
          secret:
            secretName: {{ .Values.keysSecretName }}
        - name: relayminer-config
          configMap:
            name: {{ include "relayminer.fullname" . }}
        - name: pocket-home
          emptyDir: {}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
